{% block paginator %}
{#    {% if page_obj %}#}
{#        <nav aria-label="Page navigation example">#}
{#            <ul class="pagination justify-content-center my-4">#}
{#                <div class="custom-shadow d-flex">#}
{##}
{#                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">#}
{#                        <a class="page-link" href="{% if page_obj.has_previous %}?#}
{#                            {% url 'movies:movie_catalog' slug_url page_obj.previous_page_number %}{% else %}#{% endif %}">Back</a>#}
{#                    </li>#}
{##}
{#                    {% for page in page_obj.paginator.page_range %}#}
{#                        {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}#}
{#                            <li class="page-item {% if page_obj.number == page %} active {% endif %}">#}
{#                                <a class="page-link" href="?{% url 'movies:movie_catalog' slug_url page %}">{{ page }}</a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{##}
{##}
{#                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">#}
{#                        <a class="page-link" href="{% if page_obj.has_next %}?#}
{#                            {% url 'movies:movie_catalog' page_obj.next_page_number %}{% else %}#{% endif %}">Next</a>#}
{#                    </li>#}
{#                </div>#}
{#            </ul>#}
{#        </nav>#}
{#    {% endif %}#}
    {% if movies_list %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-4">
                <div class="custom-shadow d-flex">

                    <li class="page-item {% if not movies_list.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="#">Back</a>
                    </li>

                    {% for page in movies_list.paginator.page_range %}
                        {% if page >= movies_list.number|add:-2 and page <= movies_list.number|add:2 %}
                            <li class="page-item {% if movies_list.number == page %} active {% endif %}">
                                <a class="page-link" href="#">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    <li class="page-item {% if not movies_list.has_next %}disabled{% endif %}">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </div>
            </ul>
        </nav>
    {% endif %}

{% endblock %}

