{% block paginator %}
{#    {% if page_obj %}#}
{#        <nav aria-label="Page navigation example">#}
{#            <ul class="pagination justify-content-center my-4">#}
{#                <div class="custom-shadow d-flex">#}
{##}
{#                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">#}
{#                        <a class="page-link" href="{% if page_obj.has_previous %}?#}
{#                            {% url 'movies:movie_catalog' slug_url page_obj.previous_page_number %}{% else %}#{% endif %}">Back</a>#}
{#                    </li>#}
{##}
{#                    {% for page in page_obj.paginator.page_range %}#}
{#                        {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}#}
{#                            <li class="page-item {% if page_obj.number == page %} active {% endif %}">#}
{#                                <a class="page-link" href="?{% url 'movies:movie_catalog' slug_url page %}">{{ page }}</a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{##}
{##}
{#                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">#}
{#                        <a class="page-link" href="{% if page_obj.has_next %}?#}
{#                            {% url 'movies:movie_catalog' page_obj.next_page_number %}{% else %}#{% endif %}">Next</a>#}
{#                    </li>#}
{#                </div>#}
{#            </ul>#}
{#        </nav>#}
{#    {% endif %}#}
    {% if page_obj %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-4">
                <div class="custom-shadow d-flex">

                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="#">Back</a>
                    </li>

                    {% for page in page_obj.paginator.page_range %}
                        {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                            <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                                <a class="page-link" href="#">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </div>
            </ul>
        </nav>
    {% endif %}

{% endblock %}
    {#        {% if is_paginated %}#}
    {#            <nav aria-label="Page navigation example">#}
    {#                <ul class="pagination justify-content-center my-4">#}
    {#                    <div class="custom-shadow d-flex">#}
    {#                        <li class="page-item disabled">#}
    {#                            <a class="page-link">Previous</a>#}
    {#                        </li>#}
    {#                        <li class="page-item"><a class="page-link" href="#">1</a></li>#}
    {#                        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
    {#                        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
    {#                        <li class="page-item">#}
    {#                            <a class="page-link" href="#">Next</a>#}
    {#                        </li>#}
    {#                    </div>#}
    {#                </ul>#}
    {#            </nav>#}
    {#        {% endif %}#}

    {#        <div class="pagination">#}
    {#            <span class="step-links">#}
    {#                {% if page_obj.has_previous %}#}
    {#                    <a href="?page=1">&laquo; first</a>#}
    {#                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
    {#                {% endif %}#}
    {##}
    {#                <span class="current">#}
    {#                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
    {#                </span>#}
    {##}
    {#                {% if page_obj.has_next %}#}
    {#                    <a href="?page={{ page_obj.next_page_number }}">next</a>#}
    {#                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
    {#                {% endif %}#}
    {#            </span>#}
    {#        </div>#}
