{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Page Header - Bootstrap Brain Component -->
    <section class="py-4 py-md-5 py-xl-8">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid border border-dark bsb-tpl-bg-gradient-1x">
                        <div class="row justify-content-md-center align-items-center">
                            <div class="col-12 col-md-11 col-xl-10">
                                <div class="page-header-wrapper py-3 py-md-5 py-xl-8">
                                    <h1 class="display-3 text-center fw-bold mb-3 mb-xl-4">About Us</h1>
                                    <p class="lead">
                                        <span class="col-12 col-sm-11 col-lg-8 col-xl-7 col-xxl-6">
                                        Welcome to StoreLinks, your go-to destination for everything movies and music!
                                        We’re passionate about curating a space where film buffs, music lovers, and
                                        content creators can come together to explore, share, and store the best of what
                                        the entertainment world has to offer.
                                        </span>
                                    </p>

                                    <h2 class="display-3 text-center fw-bold mb-3 mb-xl-4">Our Mission</h2>
                                    <p class="lead">
                                        <span class="col-12 col-sm-11 col-lg-8 col-xl-7 col-xxl-6">
                                        At StoreLinks, our mission is simple: to connect people through the power of
                                        film and music. We aim to be a comprehensive platform that not only stores your
                                        favorite links but also helps you discover new content, engage in meaningful
                                        discussions, and stay informed about the latest trends in the industry.
                                        </span>
                                    </p>

                                    <h2 class="display-3 text-center fw-bold mb-3 mb-xl-4">What We Offer</h2>
                                    <p class="lead">
                                        <span class="col-12 col-sm-11 col-lg-8 col-xl-7 col-xxl-6">
                                        Personalized Link Storage: Easily save, categorize, and access your favorite
                                        links related to movies and music, all in one convenient place.
                                        Curated Content: From the latest blockbuster releases to underground music gems,
                                        our platform provides curated lists, expert reviews, and personalized
                                        recommendations tailored to your tastes.
                                        Community Engagement: Join a vibrant community of like-minded individuals. Share
                                        your thoughts, write reviews, and participate in discussions about the content
                                        you love.
                                        In-Depth Information: Dive deep into the world of cinema and music with our
                                        extensive library of articles, interviews, and reviews, designed to educate,
                                        inform, and inspire.
                                        </span>
                                    </p>

                                    <h2 class="display-3 text-center fw-bold mb-3 mb-xl-4">Our Vision</h2>
                                    <p class="lead">
                                        <span class="col-12 col-sm-11 col-lg-8 col-xl-7 col-xxl-6">
                                        We envision StoreLinks as more than just a website—it’s a community where
                                        culture and creativity meet. We believe in the transformative power of movies
                                        and music, and we’re dedicated to creating a space where these art forms can be
                                        appreciated, discussed, and enjoyed by everyone.
                                        </span>
                                    </p>

                                    <h2 class="display-3 text-center fw-bold mb-3 mb-xl-4">Join Us</h2>
                                    <p class="lead">
                                        <span class="col-12 col-sm-11 col-lg-8 col-xl-7 col-xxl-6">
                                        Whether you're here to discover something new, share your latest find, or simply
                                        organize your digital collection, StoreLinks is here to help you every step of
                                        the way. Join us on this exciting journey, and let’s celebrate the magic of
                                        movies and music together!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main -->
    <main id="main">
        <!-- About 7 - Bootstrap Brain Component -->
        <section>
        </section>

    </main>
{% endblock %}