{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Page Header - Bootstrap Brain Component -->
    <section class="py-4 py-md-5 py-xl-8">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid border border-dark bsb-tpl-bg-gradient-1x">
                        <div class="row justify-content-md-center align-items-center">
                            <div class="col-12 col-md-11 col-xl-10">
                                <div class="page-header-wrapper py-3 py-md-5 py-xl-8">
                                    <h2 class="display-3 text-center fw-bold mb-3 mb-xl-4">About Us</h2>
                                    <p class="lead text-center m-0 d-flex justify-content-sm-center">
                                        <span class="col-12 col-sm-11 col-lg-8 col-xl-7 col-xxl-6">Our "About Us" page is your window into who we are, what we stand for, and why we do what we do.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main -->
    <main id="main">
        <!-- About 7 - Bootstrap Brain Component -->
        <section>
        </section>

    </main>
{% endblock %}