{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- Main -->
    <main id="main">

        <!-- Card 5 - Bootstrap Brain Component -->
        <section class="py-3 py-md-5 py-xl-8 bg-white">
            <div class="container overflow-hidden">
                <div class="row gy-4 gy-xxl-5">

                        {% for movie in movies_list %}
{#                            <div class="col-12 col-md-6 col-lg-4 col-xxl-3">#}
{#                                <div class="card text-center border-dark overflow-hidden">#}
{#                                    <div class="card-body p-2 position-relative">#}
{#                                        <figure class="m-0 p-0">#}
{#                                            <img class="img-fluid" loading="lazy" src="{{ movie.poster }}"#}
{#                                                 alt="{{ movie.title }}">#}
{#                                            <figcaption class="mb-0 mt-4 p-0">#}
{#                                                <h4 class="mb-2">{{ movie.title }}</h4>#}
{#                                                <p class="d-flex justify-content-center align-items-center gap-2 mb-0">#}
{#                                                    <span class="text-secondary"><del>{{ movie.year }}</del></span>#}
{#                                                    <span class="text-primary">{{ movie.runtime }}</span>#}
{#                                                </p>#}
{#                                            </figcaption>#}
{#                                        </figure>#}
{#                                        <a href="{{ movie.slug }}"#}
{#                                           class="btn btn-accent mt-4 d-flex align-items-center justify-content-center gap-2">#}
{#                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                                                 fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">#}
{#                                                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>#}
{#                                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>#}
{#                                            </svg>#}
{#                                            <span>Add to favorite</span>#}
{#                                        </a>#}
{#                                        <div class="position-absolute top-0 end-0 m-2 fs-5">#}
{#                                            <span class="badge text-bg-warning">IMDB: {{ movie.imdb_rating }}</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                <div class="card border border-dark" style="--bs-card-border-radius: 0; --bs-card-inner-border-radius: 0;">
                                    <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
                                        <a href="#!">
                                            <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="{{ movie.poster }}" alt="{{ movie.title }}"
                                                 onerror="this.onerror=null; this.src='{% static 'images/no_image_poster.png' %}';" >
                                        </a>
                                        <figcaption>
                                            <h2 class="h3 text-white fw-bold mb-1 bsb-hover-fadeInRight">{{ movie.title }}</h2>
{#                                            <p class="fs-7 mb-4 text-white opacity-75 bsb-hover-fadeInLeft">{{ movie.genre }}</p>#}
                                            <p class="fs-9 m-0 px-4 text-white text-center bsb-hover-fadeInUp">{{ movie.plot }}</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        <!-- Pagination -->
        {% include 'main/paginator.html' %}

        </section>
    </main>




{% endblock %}
