{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <section class="py-3 py-md-5 py-xl-8">
        <div class="container overflow-hidden">
            <div class="row gy-4 gy-xxl-5">
                <div class="col-md-4">
                    <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h1>{{ movie.title }}</h1>
                    <p><strong>Year:</strong> {{ movie.year }}</p>
                    <p><strong>Rated:</strong> {{ movie.rated }}</p>
                    <p><strong>Released:</strong> {{ movie.released }}</p>
                    <p><strong>Runtime:</strong> {{ movie.runtime }}</p>
                    <p><strong>Genres:</strong>
                        {% for genre in movie.genres.all %}
                            {{ genre.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>Director:</strong> {{ movie.director }}</p>
                    <p><strong>Writer:</strong> {{ movie.writer }}</p>
                    <p><strong>Actors:</strong>
                        {% for actor in movie.actors.all %}
                            {{ actor.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>Plot:</strong> {{ movie.plot }}</p>
                    <p><strong>Language:</strong> {{ movie.language }}</p>
                    <p><strong>Country:</strong> {{ movie.country }}</p>
                    <p><strong>Awards:</strong> {{ movie.awards }}</p>
                    <p><strong>Metascore:</strong> {{ movie.metascore }}</p>
                    <p><strong>IMDb Rating:</strong> {{ movie.imdb_rating }}</p>
                    <p><strong>IMDb Votes:</strong> {{ movie.imdb_votes }}</p>
                    <p><strong>Box Office:</strong> {{ movie.box_office }}</p>
                    <p><strong>Production:</strong> {{ movie.production.name }}</p>
                    <p><strong>Website:</strong> <a href="{{ movie.website }}" target="_blank">{{ movie.website }}</a></p>
                </div>
            </div>
            <div class="mt-4">
                <a href="{% url 'movies:movie_catalog' %}" class="btn btn-primary">Back to Catalog</a>
            </div>
        </div>
    </section>
    
{#    {% include 'comment/comment.html' %}#}
<!-- Comments -->

    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                  to iterate through each comment in comments -->
                {% for comment in comments %}
                    <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                        <p class="font-weight-bold">
                            {{ comment.author }}
                            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
                        </p>
                        <div id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}
                        </div>
                        {% if not comment.approved and comment.author == user %}
                            <p class="approval">
                                This comment is awaiting approval
                            </p>
                        {% endif %}
                    </div>
                    <!-- Our for loop ends here -->
                {% endfor %}
            </div>
            <!-- Creating New Comments -->
            <div class="col-md-4 card mb-4 mt-3">
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="commentForm" method="post"
                              style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit"
                                    class="btn btn-signup btn-lg">Submit</button>
                        </form>
                    {% else %}
                        <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}
